<h1>{{title}}</h1>
<ul>
  <li *ngFor="let language of languages">{{language.name}}</li>
</ul>

<span *ngIf="show">
    <p>Show Me!</p>
</span>

<span [ngSwitch]="numberInString">
  <p *ngSwitchCase="'one'">One</p>
  <p *ngSwitchCase="'two'">Two</p>
  <p *ngSwitchCase="'three'">Three</p>
  <p *ngSwitchCase="'four'">Four</p>
  <p *ngSwitchCase="'five'">Five</p>
</span>

