<input [(ngModel)] = "username">
<p>{{username}}</p>

<p [ngClass]="'red'">Class passed as string</p>
<p [ngClass]="['green']">Class passed as array</p>
<p [ngClass]="{'red': false, 'blue': true}">Class passed as object</p>
<p [ngStyle]="{'color': 'orange', 'font-size': '14pt'}">Added styles</p>
