<app-sturctural-directives></app-sturctural-directives>
<app-attrubute-directives></app-attrubute-directives>
<div appHighlightDirective>Custom Directive</div>
<div appHighlightDirective highlightColor="grey">Custom Directive with dynamically changed color</div>
<span [ngStyle]= "{'display': 'inline-block', 'width':'100px', 'height':'100px', 'background-color': 'green'}"
      appHighlightDirective hideOpacity="1" showOpacity="0.5">Move mouse on me</span>

<ul *ngFor="let product of products">
  <li *appCustomStructural="product">{{product.productName}}</li>
</ul>

<button type="button" (click)="changeDetectionDefault()">Change detection Default</button>
<button type="button" (click)="changeDetectionOnPush()">Change detection onPush</button>
<app-change-detect [user]="user"></app-change-detect>
